@charset "utf-8";
@font-face {
    font-family: dogica;
    src: url(fonte/TTF/dogica.ttf);
}

body {
    background-color: rgba(70, 69, 69, 0.599);
    margin: 0%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    max-width: 360px;
    background-color: #000000;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 40px;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(70, 69, 69, 0.599);
    border: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: dogica;
}

.equal {
    width: calc(30% - 10%);
    background: rgb(255, 157, 0);
}

button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 15px 10px;
    border-radius: 50%;
    float: left;
    background: rgba(60, 59, 59, 0.755);
    border: none;
    color: white;
}

.tite {
    margin-top: 80px
}



#ac {
    background: rgb(116, 115, 115);
    color: black;
}

#de {
    background: rgb(116, 115, 115);
    color: black;
}

.ponto {
    background: rgb(116, 115, 115);
    color: black;
}

.operador-1{
    background: rgb(255, 157, 0);
}

button:hover{
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
    box-shadow: none;
}

footer {  
    background-color: #00000091;
    text-align: center;
    font-size: larger;
    font-family: Tahoma, sans-serif;
    color: white; 
    
    width: 100%;
    font-size: 7px;
}


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































